[submodule "lib/GraphViewerCpp"]
	path = lib/GraphViewerCpp
	url = https://github.com/dmfrodrigues/GraphViewerCpp.git
[submodule "map/rapidxml"]
	path = map/rapidxml
	url = https://github.com/dwd/rapidxml.git
